name: release

on:
  push:
    tags:
    - "v*.*.*"

env:
  TAG: ${{ github.ref_name }}
  REGISTRY: ghcr.io

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Docker login
      uses: docker/login-action@v1
      with:
        registry: ${{ env.REGISTRY }}
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}
    - name: Build docker image
      run: make docker-build TAG=${{ env.TAG }}
    - name: Push docker image
      run: make docker-push TAG=${{ env.TAG }}
  release:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    needs: [build]
    steps:
    - name: Checkout
      uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: Update manifests
      run: |
        # this is quite naive, but i don't think we need more for now
        sed -i "s/dev/${TAG}/g" config/default/manager_image_patch.yaml
        kustomize build config/default/ > infrastructure-components.yaml
    - name: Release
      uses: softprops/action-gh-release@v1
      with:
        prerelease: false
        draft: true
        fail_on_unmatched_files: true
        generate_release_notes: true
        discussion_category_name: Announcements
        name: ${{ env.TAG }}
        files: |
          templates/cluster-template.yaml
          templates/cluster-template-cilium.yaml
          templates/cluster-template-flannel.yaml
          metadata.yaml
          infrastructure-components.yaml
