name: run tests

on: [pull_request, workflow_dispatch]

jobs:
  test:
    name: test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: '1.23.1'
      - name: Build
        run: make build
      - name: Test
        run: make test
